.emoji-image {
  height: 60px;
  width: 60px;
}
.description {
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 20px;
  font-weight: bold;
}
.each-emoji {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  list-style-type: none;
}
.button {
  outline: none;
  border: none;
  background-color: transparent;
}
